Repository abaveja313/conduit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix"],
  "*.{md,mdx,json,yml,yaml}": ["prettier --write"],
  "*.rs": ["rustfmt --edition 2021"],
  "*.toml": ["prettier --write"]
}

feat(wasm): moved global objects out of core
  Cargo.lock
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/fs/mod.rs
  crates/conduit-core/src/fs/path.rs
  crates/conduit-wasm/Cargo.toml
  crates/conduit-wasm/src/globals.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
Due: prettier --write, rustfmt --edition 2021

feat(wasm): added file loading in wasm
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
Due: rustfmt --edition 2021

feat(files): added loading of files in JS, added bridge in rust
  Cargo.lock
  artifacts/wasm/conduit.wasm
  artifacts/wasm/manifest.json
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/Cargo.toml
  crates/conduit-wasm/src/lib.rs
  packages/fs/package.json
  packages/fs/src/file-service.ts
  packages/wasm/index.d.ts
  packages/wasm/package.json
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore: remove artifacts
  .gitignore
Due: none

chore: remove artifacts
  artifacts/wasm/conduit.wasm
  artifacts/wasm/manifest.json
Due: prettier --write

feat(demo): added file scanner demo, wasm success
  .gitignore
  README.md
  apps/web/README.md
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/FileUploader.tsx
  apps/web/src/types/file-system-access.d.ts
  justfile
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/fs/src/scanner.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(scanner): add mime type detection
  apps/web/src/components/FileUploader.tsx
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/src/lib.rs
  packages/fs/package.json
  packages/fs/src/file-service.ts
  packages/fs/src/scanner.ts
  packages/wasm/index.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat: Add AST-based code search functionality
  apps/web/src/components/AstSearchPanel.tsx
  apps/web/src/components/FileUploader.tsx
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/ast/cache.rs
  crates/conduit-core/src/ast/language.rs
  crates/conduit-core/src/ast/mod.rs
  crates/conduit-core/src/ast/pattern.rs
  crates/conduit-core/src/ast/search.rs
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-wasm/Cargo.toml
  crates/conduit-wasm/src/ast.rs
  crates/conduit-wasm/src/lib.rs
  packages/fs/src/ast-service.ts
  packages/fs/src/index.ts
  packages/wasm/ast.d.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(tools): implement read tool, wasm binding works
  .gitignore
  apps/web/package.json
  apps/web/src/components/FileUploader.tsx
  apps/web/src/components/Modal.tsx
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/read.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/package.json
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/__tests__/test-utils/helpers.ts
  packages/fs/src/file-service.ts
  packages/fs/src/scanner.ts
  packages/fs/src/types.ts
  packages/wasm/index.d.ts
  pnpm-lock.yaml
  vercel.json
Due: eslint --fix, prettier --write, rustfmt --edition 2021

docs: update license badge
  README.md
Due: prettier --write

fix(tools): fixed range check in line extraction
  crates/conduit-core/src/tools/read.rs
Due: rustfmt --edition 2021

fix: apply review changes
  apps/web/src/components/FileUploader.tsx
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/tools/read.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/scanner.ts
  packages/wasm/index.d.ts
Due: eslint --fix, rustfmt --edition 2021

fix: remove root dir vercel
  vercel.json
Due: prettier --write

chore: update build and deployment config
  .gitignore
  .husky/pre-commit
  .npmrc
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/Cargo.toml
  crates/conduit-wasm/Cargo.toml
  eslint.config.mts
  justfile
  package.json
  packages/wasm/package.json
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  packages/wasm/pkg/package.json
  tools/build-wasm.sh
  turbo.json
  vercel.json
Due: eslint --fix, prettier --write

feat(tools): added create and delete files with fs propagation
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/FileUploader.tsx
  apps/web/src/components/Modal.tsx
  apps/web/src/types/file-system-access.d.ts
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/preview.rs
  crates/conduit-core/src/tools/read.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/__tests__/options.test.ts
  packages/fs/src/__tests__/scanner.test.ts
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/fs/src/scanner.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/shared/src/__tests__/errors.test.ts
  packages/shared/src/errors.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021

refactor: remove the mcp implementation
  README.md
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/FileUploader.tsx
  package.json
  packages/fs/package.json
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/file-manager.ts
  packages/fs/src/file-service.ts
  packages/fs/src/file-utils.ts
  packages/fs/src/index.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/mcp/__tests__/echo.tool.test.ts
  packages/server/src/mcp/__tests__/tool-registry.test.ts
  packages/server/src/mcp/__tests__/wasm-manager.test.ts
  packages/server/src/mcp/conduit-server.ts
  packages/server/src/mcp/tool-registry.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/tools/index.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/server/tsconfig.json
  packages/server/vitest.config.ts
  packages/transports/eslint.config.js
  packages/transports/package.json
  packages/transports/src/index.ts
  packages/transports/src/logger.ts
  packages/transports/src/types.ts
  packages/transports/src/webworker-client.ts
  packages/transports/src/webworker-server.ts
  packages/transports/src/webworker.ts
  packages/transports/tsconfig.json
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(demo): implement version 1 of the demo
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/FileUploader.tsx
  apps/web/src/components/Modal.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/markdown.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/lib/ai-client.ts
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/utils.ts
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-wasm/src/lib.rs
  packages/fs/src/file-service.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(tools): add search tools
  Cargo.lock
  apps/web/public/workers/conduit.wasm
  crates/conduit-wasm/Cargo.toml
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/file-service.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix: issues
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  packages/fs/src/file-manager.ts
Due: eslint --fix

fix(demo): incorporate code review suggestions
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  packages/fs/src/file-manager.ts
Due: eslint --fix

fix(demo): fixed deletions, added stats
  apps/web/public/workers/conduit.wasm
  apps/web/public/workers/conduit_wasm_bg.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  crates/conduit-wasm/src/lib.rs
  packages/fs/src/file-service.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
Due: eslint --fix, rustfmt --edition 2021

feat(analytics): integrate Mixpanel tracking
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/layout.tsx
  apps/web/src/lib/mixpanel.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update WASM build artifacts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: none

chore: update build artifacts
  apps/web/src/lib/mixpanel.tsx
Due: eslint --fix

feat: implement full file view toggle and fix UI issues
  Cargo.lock
  apps/web/public/favicon.svg
  apps/web/public/manifest.json
  apps/web/public/workers/conduit.wasm
  apps/web/public/workers/conduit_wasm_bg.wasm
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/hooks/useFileChanges.ts
  apps/web/src/lib/ai-client.ts
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/constants.ts
  apps/web/src/lib/format.ts
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/fs/mod.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/diff.rs
  crates/conduit-core/src/tools/line_ops.rs
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/file-helpers.ts
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix: resolve double-click issue for scanning and improve UX
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  packages/fs/src/file-manager.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

chore: update WASM build artifacts
  apps/web/public/workers/conduit.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: none

feat: add GitHub links to header and setup modal
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

feat: add browser support check in setup modal
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

fix(edit): fix the replace lines tool
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/tools/line_ops.rs
Due: rustfmt --edition 2021

feat(files): implement PDF and DOCX support, fix bug with diff
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/public/workers/conduit_wasm_bg.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/lib/anthropic-client.ts
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/line_ops.rs
  crates/conduit-core/src/tools/preview.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/package.json
  packages/fs/src/document-extractor.ts
  packages/fs/src/file-manager.ts
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/fs/src/types.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix: updated sysprompt
  apps/web/public/workers/conduit.wasm
  apps/web/src/lib/anthropic-client.ts
Due: eslint --fix

chore: add auth0 logo
  apps/web/public/conduit-logo.png
  apps/web/public/workers/conduit.wasm
Due: none

feat(auth): add authentication and better analytics
  apps/web/README.md
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/hooks/useFileChanges.ts
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/auth0-provider.tsx
  apps/web/src/lib/constants.ts
  apps/web/src/lib/format.ts
  apps/web/src/lib/mixpanel.tsx
  crates/conduit-core/src/fs/manager.rs
  packages/fs/src/file-helpers.ts
  packages/fs/src/file-manager.ts
  packages/fs/src/file-service.ts
  packages/fs/src/scanner.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(analytics): move mixpanel to backend
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/api/event/route.ts
  apps/web/src/lib/mixpanel.tsx
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove auth0 and mixpanel integration
  apps/web/package.json
  apps/web/src/app/api/event/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/auth0-provider.tsx
  apps/web/src/lib/google-analytics.tsx
  apps/web/src/lib/gtag.ts
  apps/web/src/lib/mixpanel.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(analytics): added posthog integration
  apps/web/instrumentation-client.ts
  apps/web/instrumentation.ts
  apps/web/next.config.ts
  apps/web/src/app/error.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/google-analytics.tsx
  apps/web/src/lib/gtag.ts
  apps/web/src/lib/posthog-server.ts
  apps/web/src/lib/posthog.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
