Repository abaveja313/conduit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

fix: downgrade to Vite 6 to resolve vitest compatibility issues
  apps/web/package.json
  apps/web/src/__tests__/simple.test.ts
  apps/web/src/components/ModelGrid.tsx
  apps/web/src/components/__tests__/model-utils.test.ts
  apps/web/src/components/model-utils.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.mts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update README with accurate browser compatibility and architecture details
  README.md
  apps/web/README.md
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/ModelGrid.tsx
  apps/web/vitest.config.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix, prettier --write

docs: reorganize README sections and update file operations feature
  README.md
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: prettier --write

fix: remove babel plugin and fix vitest config for Vercel build
  apps/web/public/workers/conduit.wasm
  apps/web/tsconfig.json
  apps/web/vitest.config.mts
  apps/web/vitest.config.ts
Due: eslint --fix, prettier --write

fix: tests for vercel build
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: none

fix(ui): keep diff open after tool call
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/page.tsx
Due: eslint --fix

docs: Add video demo link to README
  README.md
Due: prettier --write

docs: add video demo link to README
  README.md
Due: prettier --write

docs: enhance browser support message in SetupModal
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

docs: fix browser support message in SetupModal
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

chore: fix typo in browser support message
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

chore: demo link with underlined text
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

feat: remove settings button and make restart reload page
  apps/web/src/app/page.tsx
Due: eslint --fix

fix: add glow to select dir
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/SetupModal.tsx
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

fix: error propagation to clients
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/posthog.ts
Due: eslint --fix

chore: fix vercel build issues
  apps/web/src/app/page.tsx
Due: eslint --fix

fix: update error propagation
  apps/web/src/app/page.tsx
  apps/web/src/lib/anthropic-client.ts
Due: eslint --fix

docs: update README with producthunt badge
  README.md
Due: prettier --write

fix: make select dir more intuitive
  apps/web/src/components/SetupModal.tsx
Due: eslint --fix

Revert "Merge pull request #62 from abaveja313/dependabot/cargo/globset-0.4.18"
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-wasm/Cargo.toml
Due: prettier --write

fix: pin node-tar to avoid security warning
  apps/web/public/workers/conduit.wasm
  package.json
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{md,mdx,json,yml,yaml,toml}
  rustfmt --edition 2021: any of: *.rs
  bash -lc 'cargo clippy --workspace --all-targets -- -D warnings': any of: *.rs
