Repository abaveja313/conduit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": "eslint --fix",
  "*.{md,mdx,json,yml,yaml,toml}": "prettier --write",
  "*.rs": [
    "rustfmt --edition 2021",
    "bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'"
  ]
}

chore: fix logging to use @conduit/shared
  apps/web/instrumentation.ts
  apps/web/src/app/error.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/hooks/useFileChanges.ts
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/google-analytics.tsx
  apps/web/src/lib/gtag.ts
  apps/web/src/lib/posthog-server.ts
  apps/web/src/lib/posthog.ts
  packages/fs/src/file-manager.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/package.json
Due: eslint --fix, prettier --write

chore: add llm proxy to enable trial tier
  .vercelignore
  apps/web/instrumentation-client.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/api/anthropic/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/components/providers.tsx
  apps/web/src/lib/anthropic-client.ts
  apps/web/src/lib/posthog.ts
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/tools/line_ops.rs
  crates/conduit-wasm/src/orchestrator.rs
  justfile
  package.json
  packages/fs/package.json
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
  vercel.json
Due: eslint --fix, prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

chore: remove vercelignore
  .vercelignore
Due: none

chore: fix vercel deployment, api key security
  .github/workflows/ci.yml
  apps/web/src/app/api/anthropic/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/lib/anthropic-client.ts
  turbo.json
  vercel.json
Due: eslint --fix, prettier --write

fix(proxy): update api key placeholder logic
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/api/anthropic/route.ts
  apps/web/src/lib/anthropic-client.ts
Due: eslint --fix

chore: cleanup repo setup
  apps/web/public/workers/conduit.wasm
  configs/eslint.base.js
  eslint.config.base.mjs
  eslint.config.mjs
  eslint.config.mts
  packages/fs/vitest.config.ts
  packages/shared/eslint.config.js
  packages/shared/vitest.config.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  vitest.base.config.ts
Due: eslint --fix

chore: update build
  apps/web/public/workers/conduit.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: none

feat(tools): add copy and move tools
  .github/workflows/ci.yml
  apps/web/public/workers/conduit.wasm
  apps/web/src/lib/anthropic-client.ts
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  scripts/remove-inline-comments.cjs
  vercel.json
Due: eslint --fix, prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

chore: remove useless scripts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  scripts/remove-inline-comments.cjs
Due: none

chore: fix conflicting pkg versions
  .github/workflows/ci.yml
  apps/web/public/workers/conduit.wasm
Due: prettier --write

fix: add move dst to ui
  apps/web/src/app/page.tsx
  apps/web/src/hooks/useFileChanges.ts
  apps/web/src/lib/constants.ts
  packages/fs/src/file-service.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

chore: update max step count
  apps/web/public/workers/conduit.wasm
  apps/web/src/lib/anthropic-client.ts
Due: eslint --fix

fix: moved file disk handles properly handled
  apps/web/src/app/page.tsx
  apps/web/src/components/ModelGrid.tsx
  apps/web/src/components/ModelSwitcher.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/components/ui/popover.tsx
  package.json
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/file-service.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(perf): improving commit efficiency
  packages/fs/src/file-service.ts
Due: eslint --fix

chore: add some onboarding tests
  apps/web/package.json
  apps/web/src/components/__tests__/model-utils.test.ts
  apps/web/src/lib/__tests__/anthropic-client.test.ts
  apps/web/src/lib/__tests__/storage.test.ts
  apps/web/vitest.config.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: fix testing conf
  apps/web/public/workers/conduit.wasm
  apps/web/tsconfig.json
Due: prettier --write

feat(ui): make input box expand, md rendering
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/markdown.tsx
  apps/web/src/components/ui/textarea.tsx
Due: eslint --fix

fix: ui enhancements
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/page.tsx
Due: eslint --fix

feat: updated sync notification
  apps/web/public/workers/conduit.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/PersistButtons.tsx
  apps/web/src/components/SyncModal.tsx
Due: eslint --fix

fix: track copied files in ui
  apps/web/public/workers/conduit.wasm
  crates/conduit-wasm/src/orchestrator.rs
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

feat: updated sync notification
  apps/web/src/components/PersistingOverlay.tsx
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

fix: copy diff bug
  apps/web/public/workers/conduit.wasm
  crates/conduit-wasm/src/orchestrator.rs
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

chore: remove latency from success modal
  apps/web/src/components/PersistingOverlay.tsx
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

fix(extraction): fix pdf/docx corruption bug
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/fs/src/file-manager.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
Due: eslint --fix, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

feat: remove italics formatting from markdown renderer
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/ui/markdown.tsx
Due: eslint --fix

fix: resolve detached ArrayBuffer error during PDF/DOCX extraction
  apps/web/public/workers/conduit.wasm
  packages/fs/src/file-manager.ts
Due: eslint --fix

fix: remove unused avgLatency prop from PersistingOverlay
  apps/web/src/app/page.tsx
  apps/web/src/components/PersistingOverlay.tsx
Due: eslint --fix

fix: prevent ArrayBuffer detachment during document extraction
  apps/web/public/workers/conduit.wasm
  packages/fs/src/file-manager.ts
Due: eslint --fix

Fix read-only status check for line modification operations
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

fix(core): read-only checks only block content modifications, not file operations
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

fix: bug fix for editable file ops
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/fs/index.rs
  crates/conduit-wasm/src/orchestrator.rs
  package.json
  packages/wasm/pkg/conduit_wasm_bg.wasm
  pnpm-lock.yaml
Due: prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

feat(wasm): refactor bindings, make ops atomic
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-wasm/src/bindings/file_ops.rs
  crates/conduit-wasm/src/bindings/line_ops.rs
  crates/conduit-wasm/src/bindings/mod.rs
  crates/conduit-wasm/src/bindings/read_ops.rs
  crates/conduit-wasm/src/bindings/search_ops.rs
  crates/conduit-wasm/src/bindings/staging_ops.rs
  crates/conduit-wasm/src/globals.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  crates/conduit-wasm/src/utils.rs
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm.js
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
Due: eslint --fix, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

feat: adaptive concurrency for loading
  apps/web/public/workers/conduit.wasm
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/__tests__/scanner.test.ts
  packages/fs/src/binary-detector.ts
  packages/fs/src/concurrency-utils.ts
  packages/fs/src/file-manager.ts
  packages/fs/src/file-service.ts
  packages/fs/src/file-utils.ts
  packages/fs/src/index.ts
  packages/fs/src/scanner.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

fix: remove logging from concurrency utils to fix Vercel build error
  packages/fs/src/concurrency-utils.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

fix: reads should use line index cache
  apps/web/public/workers/conduit.wasm
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/read.rs
  crates/conduit-wasm/src/orchestrator.rs
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

fix: correct parameter order for load_file_batch_with_text WASM function
  packages/fs/src/file-manager.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

feat: add debug operations and file scanner worker implementation
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/public/workers/conduit_wasm.js
  apps/web/public/workers/conduit_wasm_bg.wasm
  apps/web/src/app/page.tsx
  apps/web/src/components/PersistingOverlay.tsx
  apps/web/src/components/SetupModal.tsx
  apps/web/src/components/SyncModal.tsx
  apps/web/src/lib/file-scanner-worker.ts
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-wasm/src/bindings/debug_ops.rs
  crates/conduit-wasm/src/bindings/mod.rs
  crates/conduit-wasm/src/bindings/search_ops.rs
  crates/conduit-wasm/src/bindings/staging_ops.rs
  crates/conduit-wasm/src/bindings/validation_ops.rs
  crates/conduit-wasm/src/lib.rs
  crates/conduit-wasm/src/orchestrator.rs
  package.json
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/file-manager.ts
  packages/fs/src/file-service.ts
  packages/wasm/index.d.ts
  packages/wasm/pkg/conduit_wasm.d.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
  packages/wasm/pkg/conduit_wasm_bg.wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, rustfmt --edition 2021, bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'

fix: resolve vite vulnerabilities and refactor test structure
  apps/web/package.json
  apps/web/public/workers/conduit.wasm
  apps/web/src/components/__tests__/model-utils.test.ts
  apps/web/src/components/model-utils.ts
  apps/web/src/lib/__tests__/storage.test.ts
  apps/web/src/lib/storage.ts
  apps/web/tsconfig.test.json
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: temporarily disable problematic tests to fix CI
  apps/web/public/workers/conduit.wasm
  apps/web/src/__tests__/simple.test.ts
  apps/web/src/components/ModelGrid.tsx
  apps/web/src/components/__tests__/model-utils.test.ts.skip
  apps/web/src/components/model-utils.ts
  apps/web/src/lib/__tests__/anthropic-client.test.ts.skip
  apps/web/src/lib/__tests__/storage.test.ts.skip
  apps/web/src/lib/storage.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix

Revert "fix: temporarily disable problematic tests to fix CI"
  apps/web/public/workers/conduit.wasm
  apps/web/src/__tests__/simple.test.ts
  apps/web/src/components/ModelGrid.tsx
  apps/web/src/components/__tests__/model-utils.test.ts
  apps/web/src/components/model-utils.ts
  apps/web/src/lib/__tests__/anthropic-client.test.ts
  apps/web/src/lib/__tests__/storage.test.ts
  apps/web/src/lib/storage.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  packages/wasm/pkg/conduit_wasm_bg.wasm
Due: eslint --fix
