Repository abaveja313/conduit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

testing
  README.md
Due: prettier --write

chore(workspace): add stub lib targets for bench/fuzz crates
  .husky/commit-msg
  .husky/pre-commit
  Cargo.lock
  crates/conduit-bench/Cargo.toml
  crates/conduit-bench/src/lib.rs
  crates/conduit-fuzz/Cargo.toml
  crates/conduit-fuzz/src/lib.rs
  package.json
Due: prettier --write

chore(ts): fix the tsconfig
  .turbo/cookies/1.cookie
  .turbo/cookies/2.cookie
  .turbo/daemon/711f41a6f430ad17-turbo.log.2025-09-12
  README.md
  packages/shared/src/index.js
  packages/shared/src/logger.js
  packages/shared/src/types.js
  packages/shared/tsconfig.json
  packages/storage-opfs/package.json
  packages/storage-opfs/tsconfig.json
  packages/transports/src/webworker-client.ts
  packages/transports/src/webworker-server.ts
  packages/transports/src/webworker.ts
  tsconfig.base.json
  turbo.json
Due: eslint --fix, prettier --write

chore(ts): fix the tsconfig
  eslint.config.mts
  pnpm-lock.yaml
Due: prettier --write

chore(turbo): remove turbo cache from git
  .turbo/cookies/1.cookie
  .turbo/cookies/2.cookie
  .turbo/daemon/711f41a6f430ad17-turbo.log.2025-09-12
Due: none

chore(repo): clean up tooling
  .gitignore
  apps/web/eslint.config.js
  apps/web/package.json
  configs/eslint.base.cjs
  justfile
  packages/shared/package.json
  packages/transports/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(repo): clean up comments + tools
  .lintstagedrc.json
  apps/web/package.json
  justfile
  packages/file-scanner/src/scanner.ts
  packages/file-scanner/src/types.ts
  packages/shared/package.json
  packages/shared/src/types.ts
  packages/transports/package.json
  packages/transports/src/webworker-client.ts
  packages/transports/src/webworker-server.ts
  packages/transports/src/webworker.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(scanner): add handle tracking
  packages/file-scanner/src/__tests__/events.test.ts
  packages/file-scanner/src/__tests__/options.test.ts
  packages/file-scanner/src/__tests__/scanner.test.ts
  packages/file-scanner/src/scanner.ts
  packages/file-scanner/src/types.ts
Due: eslint --fix

test(scanner): fix linting errors and tests
  packages/file-scanner/src/__tests__/scanner.test.ts
  turbo.json
Due: eslint --fix, prettier --write

chore(license): add license
  LICENSE
Due: none

feat(server): create mcp server and wasm brdige
  packages/file-scanner/src/__tests__/options.test.ts
  packages/file-scanner/src/__tests__/scanner.test.ts
  packages/file-scanner/src/scanner.ts
  packages/file-scanner/src/types.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/mcp/__tests__/echo.tool.test.ts
  packages/server/src/mcp/conduit-server.ts
  packages/server/src/mcp/tool-registry.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/tools/index.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/server/tsconfig.json
  packages/server/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(tests): refactor errors and update tests
  justfile
  packages/file-scanner/src/__tests__/scanner-errors.test.ts
  packages/file-scanner/src/scanner.ts
  packages/file-scanner/src/types.ts
  packages/file-scanner/vitest.config.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/mcp/__tests__/tool-registry.test.ts
  packages/server/src/mcp/__tests__/wasm-manager.test.ts
  packages/server/src/mcp/tool-registry.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/tools/index.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/shared/package.json
  packages/shared/src/__tests__/errors.test.ts
  packages/shared/src/errors.ts
  packages/shared/src/index.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
  vitest.base.config.ts
Due: eslint --fix, prettier --write

fix(tests): update error handling and bump version
  justfile
  packages/file-scanner/src/__tests__/scanner-errors.test.ts
  packages/file-scanner/src/__tests__/scanner.test.ts
  packages/server/package.json
  packages/server/src/mcp/__tests__/tool-registry.test.ts
  packages/server/src/mcp/__tests__/wasm-manager.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ci): resolve ci build issues
  packages/file-scanner/src/__tests__/scanner-errors.test.ts
  packages/file-scanner/src/__tests__/scanner.test.ts
  packages/file-scanner/src/scanner.ts
  packages/file-scanner/src/types.ts
  packages/server/src/mcp/__tests__/echo.tool.test.ts
  packages/server/src/mcp/__tests__/tool-registry.test.ts
  packages/server/src/mcp/__tests__/wasm-manager.test.ts
  packages/server/src/mcp/conduit-server.ts
  packages/server/src/mcp/tool-registry.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/tools/index.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/shared/package.json
  packages/shared/src/__tests__/errors.test.ts
  packages/shared/src/errors.ts
  turbo.json
  vitest.base.config.ts
Due: eslint --fix, prettier --write

feat(file-service): add file service, cleanup tests
  packages/file-scanner/eslint.config.js
  packages/file-scanner/src/__tests__/events.test.ts
  packages/file-scanner/src/__tests__/options.test.ts
  packages/file-scanner/src/__tests__/scanner-errors.test.ts
  packages/file-scanner/src/__tests__/scanner.test.ts
  packages/file-scanner/src/__tests__/streaming.test.ts
  packages/file-scanner/src/index.ts
  packages/fs/eslint.config.js
  packages/fs/package.json
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/__tests__/options.test.ts
  packages/fs/src/__tests__/scanner.test.ts
  packages/fs/src/__tests__/test-utils/helpers.ts
  packages/fs/src/__tests__/test-utils/mocks.ts
  packages/fs/src/file-service.ts
  packages/fs/src/index.ts
  packages/fs/src/scanner.ts
  packages/fs/src/types.ts
  packages/fs/tsconfig.json
  packages/fs/vitest.config.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ci): update mocks and linting
  packages/fs/src/__tests__/file-service.test.ts
  packages/fs/src/__tests__/scanner.test.ts
  packages/fs/src/__tests__/test-utils/mocks.ts
Due: eslint --fix

style(indent): correct indentiation
  packages/file-scanner/src/types.ts
  packages/server/src/mcp/tools/echo.tool.ts
  packages/server/src/mcp/types.ts
  packages/server/src/mcp/wasm-manager.ts
  packages/server/src/worker.ts
  packages/shared/src/__tests__/errors.test.ts
  packages/shared/src/errors.ts
Due: eslint --fix

style(editor): add editorconfig
  .editorconfig
Due: none

chore: remove file scanner
  packages/file-scanner/src/types.ts
Due: eslint --fix

feat(wasm): add some core types for file index
  .gitignore
  .prettierrc.json
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/index.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/manager.rs
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(wasm): added string interning, update indexes
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/index.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/manager.rs
  crates/conduit-core/src/path.rs
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: prettier --write

feat(wasm): added glob candidate filtering
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/index.rs
  crates/conduit-core/src/path.rs
Due: none

chore(wasm): create matcher crate
  Cargo.lock
  Cargo.toml
  crates/conduit-matcher/Cargo.toml
  crates/conduit-matcher/src/lib.rs
Due: none

chore(wasm): rename to conduit-tools
  Cargo.lock
  Cargo.toml
  crates/conduit-core/src/index.rs
  crates/conduit-core/src/path.rs
  crates/conduit-tools/Cargo.toml
  crates/conduit-tools/src/lib.rs
Due: none

feat(wasm): added core types for regex engine
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/error.rs
  crates/conduit-tools/Cargo.toml
  crates/conduit-tools/src/abort.rs
  crates/conduit-tools/src/error.rs
  crates/conduit-tools/src/lib.rs
  crates/conduit-tools/src/span.rs
Due: none

refactor(wasm): implement key scaffolding and update module structure
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/fs/mod.rs
  crates/conduit-core/src/fs/path.rs
  crates/conduit-core/src/index.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/path.rs
  crates/conduit-core/src/tools/abort.rs
  crates/conduit-core/src/tools/line_index.rs
  crates/conduit-core/src/tools/matcher.rs
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/model.rs
  crates/conduit-core/src/tools/preview.rs
Due: none

refactor(wasm): remove conduit-tools for new single crate design
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/conduit-tools/Cargo.toml
  crates/conduit-tools/src/abort.rs
  crates/conduit-tools/src/error.rs
  crates/conduit-tools/src/lib.rs
  crates/conduit-tools/src/span.rs
  pnpm-lock.yaml
Due: prettier --write

feat(wasm): add matcher implementation
  Cargo.lock
  crates/conduit-core/Cargo.toml
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/tools/matcher.rs
Due: none

fix(ci): fix linting errors and update lint config
  .lintstagedrc.json
  crates/conduit-core/src/fs/index.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/tools/matcher.rs
  crates/conduit-core/src/tools/model.rs
  crates/conduit-core/src/tools/preview.rs
Due: prettier --write

docs: update readme and add ci badge
  README.md
Due: prettier --write

docs: remove dedicated docs folder
  docs/API.md
  docs/CONTRIBUTING.md
  docs/DESIGN.md
  docs/README.md
  docs/SECURITY.md
  docs/STORAGE.md
Due: prettier --write

feat(wasm): added searcher implementation
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/matcher.rs
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/search.rs
Due: none

feat(wasm): implement replacement tool
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/replace.rs
Due: none

refactor(wasm): simplified some assumptions
  crates/conduit-core/src/error.rs
  crates/conduit-core/src/fs/manager.rs
  crates/conduit-core/src/lib.rs
  crates/conduit-core/src/tools/matcher.rs
  crates/conduit-core/src/tools/mod.rs
  crates/conduit-core/src/tools/replace.rs
  crates/conduit-core/src/tools/search.rs
  crates/test-overlaps/Cargo.toml
  crates/test-overlaps/src/main.rs
  crates/test-overlaps/src/test_regions.rs
Due: none

refactor(wasm): remove experiment
  crates/test-overlaps/Cargo.toml
  crates/test-overlaps/src/main.rs
  crates/test-overlaps/src/test_regions.rs
Due: none

docs: update readme with requirements
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{md,mdx,json,yml,yaml}
